<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ myName | titlecase }}</h1>
      <div class="portrait-wrapper" [ngClass]="routeAnimationsElements">
        <a class="portrait" href="https://itnext.io/@mathis.garberg" aria-label="Portrait" rel="noopener" target="_blank">
          <div class="avatar-container">
            <img alt="avatar" src="https://avatars3.githubusercontent.com/u/12895824?v=4" default="../../assets/images/640x640.png">
            <span class="hire-me">Consulting at Fürst Medical Lab. <fa-icon [icon]="['fas', 'ban']"></fa-icon></span>
          </div>
          <p>{{ 'app.about.short-desc' | translate }}</p>
        </a>
      </div>
      <div class="actions">
        <a mat-raised-button class="actions-main" color="accent" aria-label="My projects" routerLink="../projects/web-development" [ngClass]="routeAnimationsElements">
          {{ 'app.about.my-projects' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" aria-label="Change theme"  routerLink="../settings" [ngClass]="routeAnimationsElements">
          {{ 'app.about.change-theme' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="primary" aria-label="Medium stories"  routerLink="../stories" [ngClass]="routeAnimationsElements">
          {{ 'app.about.medium-stories' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" aria-label="Contact" routerLink="../contact" [ngClass]="routeAnimationsElements">
          {{ 'app.about.contact'| translate }}
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">{{ 'app.about.check-blogs' | translate }}</span>
        <br>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="Folder structure"
          target="_blank"
          rel="noopener"
          href="https://itnext.io/choosing-a-highly-scalable-folder-structure-in-angular-d987de65ec7">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.story.folder-structure.short' | translate }}
        </a>
        <a mat-raised-button
            [ngClass]="routeAnimationsElements"
            aria-label="Clean code in Angular"
            target="_blank"
            rel="noopener"
            href="https://itnext.io/clean-code-checklist-in-angular-%EF%B8%8F-10d4db877f74">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.story.clean-code.short' | translate }}
        </a>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="Modal forms"
          target="_blank"
          rel="noopener"
          href="https://itnext.io/creating-forms-inside-modals-with-ng-bootstrap-221e4f1f5648">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.story.modal-forms.short' | translate }}
        </a>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="ngX Rocket"
          target="_blank"
          rel="noopener"
          href="https://itnext.io/creating-enterprise-angular-apps-with-the-ngx-rocket-generator-871ac76ace87">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.story.ngx-rocket.short' | translate }}
        </a>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="How To Read Code"
          target="_blank"
          rel="noopener"
          href="https://itnext.io/how-to-read-code-bf478c262932">
          <fa-icon [icon]="['fab','medium-m']"></fa-icon>
          {{ 'app.story.how-to-read-code.short' | translate }}
        </a>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="How To Read Code"
          target="_blank"
          rel="noopener"
          href="https://github.com/mathisGarberg/angular-folder-structure">
          <fa-icon [icon]="['fab','github']"></fa-icon>
          {{ 'app.project-details.angular-folder-structure.title' | translate | titlecase }}
        </a>
        <a mat-raised-button
          [ngClass]="routeAnimationsElements"
          aria-label="How To Read Code"
          target="_blank"
          rel="noopener"
          href="https://github.com/mathisGarberg/angular-folder-structure">
          <fa-icon [icon]="['fab','github']"></fa-icon>
          {{ 'app.title.short' | translate | titlecase }}
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <code>$ console.log('{{ 'app.about.code-msg1' | translate }}');</code>
        <code>$ console.log('{{ 'app.about.code-msg2' | translate }}');</code>
        <code>$ console.log('{{ 'app.about.code-msg3' | translate }}');</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="about-wrapper">
    <h2 [ngClass]="routeAnimationsElements">{{ 'app.about-about-me' | translate }}</h2>
    <p [ngClass]="routeAnimationsElements">{{ 'app.about.p1' | translate }}</p>
    <p [ngClass]="routeAnimationsElements">{{ 'app.about.p2' | translate }}</p>
    <p [ngClass]="routeAnimationsElements">{{ 'app.about.p3' | translate }}</p>
    <p [ngClass]="routeAnimationsElements">
      {{ 'app.about.view-resume' | translate }} <a href="../../../assets/Konsulent Mathis Garberg.pdf" aria-label="Mathis Garberg CV" target="_blank">{{ 'app.about.cv-link-text' | translate }}</a>!
    </p>
    <h2>{{ 'app.technical-sheet' | translate }}</h2>
    <table class="table">
      <tr>
        <td>Språk: </td>
        <td>Java, HTML, CSS, Javascript, TypeScript, .NET (C# og .Net Core), PHP, UNIX shell, Git Bash</td>
      </tr>
      <tr>
        <td>Databaser: </td>
        <td>MySQL, MongoDB, Firebase, XML</td>
      </tr>
      <tr>
        <td>Rammeverk: </td>
        <td>Node.js, Swagger, Cordova, Vue, React, AngularJS, Angular, Bootstrap, D3, Material Design Lite, Rxjs, NgRx, Angular Material, ngbootstrap, SCSS</td>
      </tr>
      <tr>
        <td>Skytjenester: </td>
        <td>Digital Ocean, Heroku</td>
      </tr>
      <tr>
        <td>Applikasjonsservere: </td>
        <td>Nginx</td>
      </tr>
      <tr>
        <td>Testing: </td>
        <td>Jasmine, Karma</td>
      </tr>
      <tr>
        <td>Byggeverktøy: </td>
        <td>npm, webpack</td>
      </tr>
      <tr>
        <td>Versjonering: </td>
        <td>GitHub, BitBucket, GitLab, Git, SourceTree</td>
      </tr>
      <tr>
        <td>Editor: </td>
        <td>VS Code, Visual Studio, Android Studio</td>
      </tr>
      <tr>
        <td>Metodikk: </td>
        <td>Scrum, Kanban, Git flow</td>
      </tr>
      <tr>
        <td>Analyse: </td>
        <td>Google Analytics, Firebase Analytics</td>
      </tr>
    </table>
  </div>
  <!-- <div class="qualifications-wrapper">
    <h2>{{ 'app.what-i-do' | translate }}</h2>
    <mat-card>
      <h4><fa-icon icon="pencil-ruler"></fa-icon> {{ 'app.user-interface' | translate }}</h4>
      <p>{{ 'app.about.what-i-do.user-interface.description' | translate }}</p>

      <h4><fa-icon icon="code"></fa-icon> {{ 'app.development' | translate }}</h4>
      <p>{{ 'app.about.what-i-do.development.description' | translate }}</p>

      <h4><fa-icon icon="comments"></fa-icon> {{ 'app.communication' | translate }}</h4>
      <p>{{ 'app.about.what-i-do.communication.description' | translate }}</p>

      <h4><fa-icon icon="lock"></fa-icon> {{ 'app.security' | translate }}</h4>
    </mat-card>
  </div> -->
</div>
