@import '../../../styles-variables';

.container {
  margin-top: 72px;
}

.main-heading {
  margin: 0 0 20px 0;
}

/*
==============
   Masonry
==============
*/
.masonry-layout {
  column-count: 2;
  column-gap: 0;
}
.masonry-layout__panel {
  break-inside: avoid;
  // padding: 0 5px;
}
.masonry-layout__panel-content {
  padding: 7px;
}

/*
====================
   Material Card
====================
*/
mat-card {
  // margin-bottom: 20px;

  .header-image {
    background-image: url('https://avatars3.githubusercontent.com/u/12895824?v=4');
    background-size: cover;
  }

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    mat-icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    top: -4px;
    left: 5px;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .masonry-layout {
    column-count: 1;
  }

  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}
