<div class="container">
  <h1 class="main-heading">{{ 'app.highlighted-projects' | translate | titlecase }}</h1>
  <div fxLayout="row wrap" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse" fxLayoutGap="2%">
    <div fxFlex="79%">
      <div *ngIf="(projects$ | async)?.length == 0">
        <h2>No results.</h2>
      </div>
      <div class="masonry-layout">
        <ng-container *ngIf="projects$ | async as itemsFromContainer">
          <div [@listStagger]="itemsFromContainer.length">
            <div class="masonry-layout__panel" *ngFor="let project of itemsFromContainer">
              <div class="masonry-layout__panel-content">
                <mat-card class="item">
                  <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{ project.title | translate }}</mat-card-title>
                    <mat-card-subtitle>Mathis Garberg</mat-card-subtitle>
                  </mat-card-header>
                  <img alt="project thumbnail" mat-card-image [src]="project.thumbnail">
                  <mat-card-content>
                    <p>{{ project.sections[0].description | translate }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="['/project', route.snapshot.paramMap.get('tag'), project._id]">
                      {{ 'app.read-more' | translate }}
                    </button>
                    <ng-container *ngIf="project.repoLink; then showRepoLink; else showComingSoon"></ng-container>
                    <ng-template #showRepoLink>
                      <button mat-raised-button color="primary">
                        <fa-icon size="lg" [icon]="['fab','github']"></fa-icon>
                      </button>
                    </ng-template>
                    <ng-template #showComingSoon>
                      <button mat-raised-button color="primary" disabled>
                        <fa-icon size="lg" [icon]="['fab','github']"></fa-icon> ({{ 'app.coming-soon' | translate }})
                      </button>
                    </ng-template>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <aside fxFlex="19%" class="sidebar">
      <div *ngFor="let section of sections$ | async">
        <app-section [section]="section" (categoryChange)="onCategoryChange($event)"></app-section>
      </div>
    </aside>
  </div>
</div>