@import '~@angular/material/theming';

@mixin app-section-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-section {
    li,
    .show-more {
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
    }

    .active {
      color: red;
    }
  }
}
