<div class="row" style="margin-bottom: 2.4rem">
  <div class="col-xs-12 col-sm-4 col-md-12 mb-xs-40 mb-sm-60">
    <nav class="filters">
      <div class="filter-header">
        <p>{{ section.title }}</p>
      </div>
      <ul class="filter-list">
        <li class="filter-list-item grow" *ngFor="let link of displayedItems; let i = index"
          [ngClass]="routeAnimationsElements">
          <a [attr.aria-label]="link.name" [ngClass]="{ 'active': i === selectedLink }" (click)="onCategoryChange(link.link, i)">{{ link.name + ' (' + i + ')' }}</a>
        </li>
        <li [hidden]="isCollapsed" class="grow" *ngFor="let hiddenItem of hiddenItems">
          <a (click)="onCategoryChange(hiddenItem.link)">{{ hiddenItem.name + ' (0)' }}</a>
        </li>
        <li class="show-more" [ngClass]="routeAnimationsElements" [hidden]="section.links.length <= displayNum">
          <a class="link" aria-label="Collapse text" (click)="toggleContent()">
            {{ collapseText | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
