@import '../../../../styles-variables';

li {
  list-style-type: none;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 10px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  margin: 10px 10px 0 0;
  // box-shadow: 0 8px 6px -6px #777;

  &.grow {
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.5);
      color: red;
      background: green;
    }
  }
}

.filter-list {
  padding: 0;
  margin: 0;
}

.show-more .link {
  font-size: 1.2rem;
  line-height: 2.7rem;
  cursor: pointer;
}

a {
  cursor: pointer;
}
