@import '../../../../styles-variables';

.scroll-to-top {
  opacity: 1;
  position: fixed;
  right: 3.5rem;
  bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

a[mat-fab] {
  svg {
    height: 1.6rem;
    fill: #000;
    transform: rotate(180deg);
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .scroll-to-top {
    right: 1rem;
  }
}
