@import '~@angular/material/theming';

@mixin anms-scroll-to-top-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  app-scroll-to-top {
    a[mat-fab] {
      svg {
        path {
          fill: mat-color($primary, default-contrast);
        }
      }
    }
  }
}
