<div class="container">
    <h1 class="main-heading">{{ 'Stories' }}</h1>
    <mat-list>
        <mat-card>
        <div *ngFor="let story of stories$ | async" [ngClass]="routeAnimationsElements">
            <mat-list-item>
                <h2 matLine>{{ story.title | translate }}</h2>
                <p matLine>{{ showSummary(story.description | translate) }}</p>
                <a mat-raised-button color="primary" [href]="story.link" target="_blank" rel="noopener">
                    <fa-icon [icon]="['fab','medium-m']"></fa-icon>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        </mat-card>
    </mat-list>
</div>
