<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
      <carousel>
        <ng-container *ngFor="let project of projects$ | async">
          <ng-container *carouselItem>
            <mat-card class="item">
              <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title><h1>{{ project?.title | translate }}</h1></mat-card-title>
                <mat-card-subtitle>Mathis Garberg, {{ project?.year }}</mat-card-subtitle>
              </mat-card-header>
              <img alt="project thumbnail" mat-card-image src="{{ project?.thumbnail }}" alt="..." id="image">
              <mat-card-content>
                <h2>{{ 'app.about-the-project' | translate }}</h2>
                <p *ngFor="let section of project?.sections" style="margin-top: 20px">{{ section.description | translate }}</p>
                <h2>{{ 'app.technical-sheet' | translate }}</h2>
                <ul>
                  <li *ngFor="let technology of project?.technologies">{{ technology }}</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </ng-container>
      </carousel>
    </div>
  </div>
  
</div>


