@import '../../../styles-variables';

.header-image {
  background-image: url('https://avatars3.githubusercontent.com/u/12895824?v=4');
  background-size: cover;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.container {
  margin-top: 64px;
}

mat-card {
  margin: 40px 0 20px 0;
}

.next-prev-buttons {
  button[mat-fab] {
    opacity: 0.4;
    transition: 1s;
    &:hover {
      opacity: 1;
      transition: 1s;
    }
  }

  .prev {
    position: absolute;
    top: 20rem;
    left: -4.5rem;
    svg {
      height: 1.6rem;
      fill: #fff;
      transform: rotate(90deg);
    }
  }

  .next {
    position: absolute;
    top: 20rem;
    right: -4.5rem;
    svg {
      height: 1.6rem;
      fill: #fff;
      transform: rotate(275deg);
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .next-prev-buttons {
    display: none;
  }

  .item {
    width: 24rem;
  }
}
