<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="main-heading">{{ 'app.about.contact' | translate }}</h1>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput autocomplete="off" [placeholder]="'app.contact.subject' | translate" type="text" formControlName="subject">
              <mat-error *ngIf="form.get('subject').hasError('required')">
                {{ 'app.contact.subject.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <textarea matInput [placeholder]="'app.contact.description' | translate"
                minlength="10" maxlength="1000" cdkTextareaAutosize formControlName="description"
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
                <mat-error *ngIf="form.get('description').hasError('required')">
                    {{ 'app.contact.description.error.required' | translate }}
                  </mat-error>
                  <mat-error *ngIf="form.get('description').hasError('minlength')">
                    {{ 'Description should be longer than' }} 10
                  </mat-error>
                  <mat-error *ngIf="form.get('description').hasError('maxlength')">
                    {{ 'Description should be no longer than' }} 1000
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="row buttons d-flex justify-content-between pad">
              <button mat-raised-button color="primary" [disabled]="form.invalid" [ngClass]="routeAnimationsElements">
                Send
              </button>
              <button type="reset" mat-raised-button [ngClass]="routeAnimationsElements">
                {{ 'app.reset-form' | translate }}
              </button>
            </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>

