<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" />
        <span data-testid="title">Mathis Garberg</span>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" [attr.aria-label]="item.label" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
          {{ item.label | translate}}
        </a>
        <a mat-list-item href="https://github.com/mathisGarberg" aria-label="Github" target="_blank" rel="noopener">
          Github
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content cdkScrollable>
      <div class="wrapper">

        <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">
          <mat-toolbar color="primary">
            <div class="container">
              <button mat-icon-button class="d-md-none" aria-label="bars" (click)="sidenav.open()">
                <fa-icon icon="bars"></fa-icon>
              </button>

              <span routerLink="../about" class="branding spacer center d-inline d-sm-none">
                <img alt="logo" [src]="logo" />
              </span>
              <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
                <img alt="logo" [src]="logo" />
                {{ 'app.title.short' | translate }}</span>
              <span routerLink="" class="branding spacer d-none d-md-inline">
                <img alt="logo" [src]="logo" />
                {{ 'app.title.long' | translate }}
              </span>

              <div style="float: right;">
                <span class="d-none d-md-inline">
                  <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
                    {{ item.label | translate }}
                  </button>
                </span>

                <button mat-icon-button routerLink="settings" aria-label="Settings" class="d-none d-sm-inline">
                  <fa-icon icon="cog"></fa-icon>
                </button>

                <a [matTooltip]="'app.about.view-profile' | translate"
                    aria-label="Github"
                    matdTooltipPosition="before"
                    mat-icon-button
                    class="link d-none d-sm-inline"
                    href="https://github.com/mathisGarberg"
                    rel="noopener"
                    target="_blank">
                  <fa-icon [icon]="['fab','github']"></fa-icon>
                </a>

                <span *ngIf="language$ | async as language">
                  <mat-select [ngModel]="language" aria-label="Languages" (selectionChange)="onLanguageSelect($event)">
                    <mat-option role="option" *ngFor="let l of languages" [value]="l">
                      {{ l.toUpperCase() }}
                    </mat-option>
                  </mat-select>
                </span>
              </div>

            </div>
          </mat-toolbar>
        </div>

        <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
          <router-outlet #o="outlet"></router-outlet>
        </div>

        <footer class="footer">
          <div class="row">
            <div class="col-sm-12 links">
              <a href="https://www.linkedin.com/in/mathis-garberg-451672144/" aria-label="Twitter" target="_blank" rel="noopener">
                <fa-icon [icon]="['fab','linkedin']"></fa-icon>
                <span>&nbsp; LinkedIn</span>
              </a>
              <a href="https://www.github.com/mathisGarberg" target="_blank" aria-label="Github" rel="noopener">
                <fa-icon [icon]="['fab','github']"></fa-icon>
                <span>&nbsp; Github</span>
              </a>
              <a href="https://www.medium.com/@mathis.garberg" target="_blank" aria-label="Medium" rel="noopener">
                <fa-icon [icon]="['fab','medium-m']"></fa-icon>
                <span>&nbsp; Medium</span>
              </a>
              <a href="https://stackoverflow.com/users/4228322/mathis-garberg" target="_blank" aria-label="Stack Overflow" rel="noopener">
                <fa-icon [icon]="['fab','stack-overflow']"></fa-icon>
                <span>&nbsp; Stack Overflow</span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 signature">
              &#169; <span class="year">{{ year }}</span> - Mathis Garberg. Built with the MEAN-stack.
            </div>
          </div>
        </footer>

        <div class="container right-align-items">
          <app-scroll-to-top (click)="onScrollToTop()"></app-scroll-to-top>
          <app-speed-dial-buttons></app-speed-dial-buttons>
        </div>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

