@import '../../../../styles-variables';

.speedDialItem {
  position: fixed;
}

a,
a[mat-fab] {
  position: fixed;
  right: 3.5rem;
  bottom: 5rem;

  svg {
    height: 1.8rem;
    fill: #fff;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  a,
  a[mat-fab] {
    right: 1rem;
  }
}
