@import '~@angular/material/theming';

@mixin anms-speed-dial-buttons-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  app-speed-dial-buttons {
    a[mat-fab],
    .mat-fab {
      svg {
        height: 1.8rem;
        path,
        .speedDialItem {
          fill: mat-color($primary, default-contrast);
        }
      }
    }
  }
}
