<div class="speed-dial-buttons">

  <a mat-fab color="primary" aria-label="Speed dial items" (click)="toggleSpeedDialItems()">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" data-v-6b12b125="">
      <path
        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5
           1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31
           6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65
           0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" data-v-6b12b125="">
      </path>
    </svg>
  </a>
  <div class="speed-dial-list" @listStagger *ngIf="isSpeedDialItems">
    <a [href]="speedDialItem.link" aria-label="speedDial Item" *ngFor="let speedDialItem of speedDialItems" target="_blank"
      class="speedDialItem"
      [ngStyle]="{ 'bottom': speedDialItem.position.bottom, 'right': speedDialItem.position.right }">
      <button mat-fab color="primary">
        <div class="btn-content">
            <svg viewBox="0 0 1792 1792" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path [attr.d]="speedDialItem.drawingPath" />
            </svg>
        </div>
      </button>
    </a>
  </div>
</div>


