@import '../../../styles-variables.scss';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  overflow: hidden;
  height: auto;
}

.carousel-inner {
  display: flex;
  position: relative;
  // width: 6000px;
}

.inner {
  z-index: 9999;
  .prev {
    position: fixed;
    top: 50%;
    left: 15%;
    svg {
      height: 1.6rem;
      transform: rotate(90deg);
    }
  }

  .next {
    position: fixed;
    top: 50%;
    right: 15%;
    svg {
      height: 1.6rem;
      transform: rotate(275deg);
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .prev {
    bottom: 0;
    top: auto;
  }
  .next {
    bottom: 0;
    top: auto;
  }
}
