@import '~@angular/material/theming';

@mixin app-carousel-component-theme($theme) {
  $primary: map-get($theme, primary);

  a[mat-fab],
  .mat-fab {
    svg {
      height: 1.8rem;
      path,
      .speedDialItem {
        fill: mat-color($primary, default-contrast);
      }
    }
  }
}
