@import './styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import './styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import './themes/default-theme.scss';
@import './themes/light-theme.scss';
@import './themes/black-theme.scss';
@import './themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import './app/app.component.scss-theme';
@import './app/static/about/about.component.scss-theme';
@import './app/static/carousel/carousel.component.scss-theme.scss';
@import './app/shared/components/speed-dial-buttons/speed-dial-buttons.scss-theme.scss';
@import './app/shared/components/scroll-to-top/scroll-to-top.component.scss-theme.scss';
@import './app/shared/components/section/section.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-about-component-theme($theme);
  @include anms-speed-dial-buttons-component-theme($theme);
  @include anms-scroll-to-top-component-theme($theme);
  @include app-carousel-component-theme($theme);
  @include app-section-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
  @include anms-speed-dial-buttons-component-theme($anms-theme);
  @include anms-scroll-to-top-component-theme($anms-theme);
  @include app-carousel-component-theme($anms-theme);
  @include app-section-component-theme($anms-theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
  @include anms-speed-dial-buttons-component-theme($anms-light-theme);
  @include anms-scroll-to-top-component-theme($anms-light-theme);
  @include app-carousel-component-theme($anms-light-theme);
  @include app-section-component-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
  @include anms-speed-dial-buttons-component-theme($anms-black-theme);
  @include anms-scroll-to-top-component-theme($anms-black-theme);
  @include app-carousel-component-theme($anms-black-theme);
  @include app-section-component-theme($anms-black-theme);
}

.nature-theme {
  @include angular-material-theme($anms-nature-theme);
  @include custom-components-theme($anms-nature-theme);
  @include anms-speed-dial-buttons-component-theme($anms-nature-theme);
  @include anms-scroll-to-top-component-theme($anms-nature-theme);
  @include app-carousel-component-theme($anms-nature-theme);
  @include app-section-component-theme($anms-nature-theme);
}
