.chess, .football, .gamepad, .trophy {
  fill: none;
  stroke-width: 4px;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.chess {
  animation-name: spin-chess;
  stroke-dasharray: 175px 175px;
  stroke-dashoffset: 175px;
  animation-delay: 0s;
  stroke: #0c8599;
}

@keyframes spin-chess {
  0% {
    stroke-dashoffset: 175px;
  }

  10%, 15% {
    stroke-dashoffset: 350px;
  }

  25%, 100% {
    stroke-dashoffset: 525px;
  }
}

.football {
  animation-name: spin-football;
  stroke-dasharray: 275px 275px;
  stroke-dashoffset: 275px;
  animation-delay: 2.5s;
  stroke: #e8590c;
}

@keyframes spin-football {
  0% {
    stroke-dashoffset: 275px;
  }

  10%, 15% {
    stroke-dashoffset: 550px;
  }

  25%, 100% {
    stroke-dashoffset: 825px;
  }
}

.gamepad {
  animation-name: spin-gamepad;
  animation-delay: 5s;
  stroke-dasharray: 250px 250px;
  stroke-dashoffset: 250px;
  stroke: #2f9e44;
}

@keyframes spin-gamepad {
  0% {
    stroke-dashoffset: 250px;
  }

  10%, 15% {
    stroke-dashoffset: 500px;
  }

  25%, 100% {
    stroke-dashoffset: 750px;
  }
}

.trophy {
  animation-name: spin-trophy;
  animation-delay: 7.5s;
  stroke-dasharray: 380px 380px;
  stroke-dashoffset: 380px;
  stroke: #e03131;
}

@keyframes spin-trophy {
  0% {
    stroke-dashoffset: 380px;
  }

  10%, 15% {
    stroke-dashoffset: 760px;
  }

  25%, 100% {
    stroke-dashoffset: 1140px;
  }
}
